@model IEnumerable<Microsoft.AspNetCore.Identity.IdentityRole>
@using Microsoft.AspNetCore.Identity;


@{
    ViewData["Title"] = "Roles Index";
}

<h5>Roles</h5>

<a asp-action="Create"> Create Role</a>

<a asp-action="MakeAdmin"> Add user to role</a>

<table class="table">
    <theas>
        <tr>
            <th>Id</th>
            <th>Name</th>
        </tr>
    </theas>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@item.Id</td>
                <td>@item.Name</td>
            </tr>

        }
    </tbody>
</table>




